.c-calculator-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  grid-gap: 0.5em;
  width: 20em;
  height: 34.88em;
  padding: 2em 1em;
  border-radius: 1em;
  background-color: #000;
  color: #fff;
  line-height: 1;
  font-weight: 200;
}

.c-calculator-keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.c-calculator__body {
  grid-column: span 4;
}

.c-calculator__display {
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}


.c-calculator__body {
  grid-row: span 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5em;
}

.c-calculator__value {
  font-size: 2.5em;
  text-align: right;
}


.calculator__result {
  -webkit-box-pack: end;
          justify-content: end;
  -webkit-box-align: end;
          align-items: end;
          color: #727272;
          font-size: 4.5em;
}

.c-calculator__button {
  padding: unset;
  border: unset;
  border-radius: 50%;
  background-color: #333333;
  color: inherit;
  line-height: inherit;
  font-size: 1.5em;
  font-weight: inherit;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  will-change: background-color, color;
}
.c-calculator__button:active,
.c-calculator__button.is-selected {
  background-color: #727272;
  color: #000;
}

.c-calculator__button--function {
  background-color: #a6a6a6;
  color: #000;
}
.c-calculator__button--function:active,
.c-calculator__button--function.is-selected {
  background-color: #727272;
}

.c-calculator__button--operator {
  background-color: #ff9403;
}
.c-calculator__button--operator:active,
.c-calculator__button--operator.is-selected {
  background-color: #fff;
  color: #ff9403;
}
